main {
    width: 100%;
}

main .form {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    background: #fff;
}

main .form form input,
main .form form select {
    width: 80%;
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 8px;
}

main .form form select {
    width: 83%;
}

.form-btns {
    width: 83.33%;
    margin: 0 auto 20px auto;
}

.form-btns button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    cursor: pointer;
}

.form-btns button:first-child {
    float: right;
    background: forestgreen;
    color: white;
}

.form-btns button:last-child {
    background: grey;
    color: white;
}